{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Send">
    </form>
    {% endif %}

    {% if posts_list %}
        {% for post in page_obj %}
            User: <a href="{% url 'profile_view' post.user.id %}">{{post.user}}</a> 
            <br>
            {{post.post}} 
            <br>
            {{post.timestamp}}
            <br>
            Likes: {{post.likes}}
            <br>
            <br>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}