{% extends "network/layout.html" %}

{% block body %}
    Username: {{creator.username}}
    <br>
    Followers: {{creator.followers.all|length}}
    <br>
    Follows: {{creator.following.all|length}}
    <br>
    <!-- follow form  -->
    {% if user.is_authenticated %}
        {% if not user.id == creator.id %}
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="follow">{{ follow }}</button>
        </form>
        {% endif %}
    {% endif %}
    <br>
    <h1>Posts</h1>
    {% if posts_list %}
    {% for post in page_obj %}
        <p style="display: none;" id="post_id">{{post.id}}</p>
        {{post.timestamp}}
        <br>
        <div data-post-id="{{ post.id }}" id="post_container">
            <p id="post">{{post.post}} </p>
            <!-- delete textarea from all and add this dynamically  -->
            <textarea name="post_textarea" id="post_textarea" cols="30" rows="10" style="display: none;">{{post.post}}</textarea>
            <button data-post-id="{{ post.id }}" id="save_edit" style="display: none;">Save</button>
            {% if post.user.id == user.id %}
                <button data-post-id="{{ post.id }}" id="edit_post">Edit</button> 
                 <!-- addeventlisterr change post content in textarea form  -->
            {% endif %}
        </div>

        
        {% if user.is_authenticated %}
        <div id="likes">
            <p>Likes: <span id="count_likes">{{ post.likes_count }}</span></p>

            <button id="like_button" data-post-id="{{ post.id }}">{{post.like_btn}}</button>

            <span style="display: none;" id="user_id">{{user.id}}</span>
        </div>
        
    {% endif %}
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}