{% extends "network/layout.html" %}

{% block body %}
    Username: {{creator.username}}
    <br>
    Followers: {{creator.followers.all|length}}
    <br>
    Follows: {{creator.following.all|length}}
    <br>
    <!-- follow form  -->
    {% if user.is_authenticated %}
        {% if not user.id == creator.id %}
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" name="follow">{{ follow }}</button>
        </form>
        {% endif %}
    {% endif %}
    <br>
    <h1>Posts</h1>
    {% if posts_list %}
    {% for post in page_obj %}
    <p style="display: none;" id="post_id">{{post.id}}</p>

    <div id="post_container">
        <p id="post">{{post.post}} </p>
        <textarea name="post_textarea" id="post_textarea" cols="30" rows="10" style="display: none;">{{post.post}}</textarea>
        <button id="save_edit" style="display: none;">Save</button>
    </div>

        {% if creator.id == user.id %}
            <button id="edit_post">Edit</button>
        {% endif %}
        {% if user.is_authenticated %}
                <button id="like_button">Like</button>
            {% endif %}
        <br>
        
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}